<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeakPlanner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar sticky-top navbar-expand-lg p-1 ms-4 fixed-top me-5" style="background-color: white;">
            <img src="{% static  'images/WhatsApp Image 2025-02-16 at 20.58.53_22e317ee.jpg'%}" height="50px" width="50px">
            <div class="container-fluid "><a class="navbar-brand" href="/">PeakPlanner</a>
        <div class=" navbar-collapse justify-content-end nav-item-new">
        <ul style="list-style: none; " class="navbar-nav nav-item">
            <li> <a class="btn btn-outline-secondary" href="{% url 'feedback' %}" role="button" style="background-color: rgb(81, 151, 81); color: black;"> Feedback</a></h1>
            </li>  
        <!-- <br><br> -->
           <li style="margin-left: 10px;"> <a class="btn btn-outline-secondary" href="{% url 'home' %} " role="button" style="background-color: rgb(81, 151, 81); color: black;">Log out</a></h1>
</li>
            
        </ul>
        </div>
        </div>
    
        </div>
        </nav>
    </header>
    <div class="main">
    <h1 class="h1main"> Organize your work and life, by make a control on your time. <p style="font-size: 20px; margin-top: 4vh; color: gray;">Simplify your & your team members life with world's No.1 Task Manager app</p>
    <p style=" font-size: 20px; margin-top: -2vh; color: gray;">374K+ ★★★★★ reviews from 
<img src="{% static 'images/Screenshot 2025-02-09 175118.png' %}"></p>

    <img src="{% static  'images/image.png'%}" height="450px" width="1100px" style=" border-radius: 10px; transition: transform 0.3s ease-in-out" class="main-image">
</div>

<div class="image-container" style="margin-top: 15vh;"><img src="{% static '3ab8ea87-e86a-471a-ba34-f914f5c833e1.webp' %}" width="100%" height="40vh">
<img src="{% static  'images/3ab8ea87-e86a-471a-ba34-f914f5c833e1.webp' %}" width="100%" height="40vh">
<img src="{% static  'images/3ab8ea87-e86a-471a-ba34-f914f5c833e1.webp' %}" width="100%" height="40vh">
<div class="card-container" style="display: flex; justify-content: space-between; gap: 20px; margin-top: 8px">
<div class="text-overlay" >
    <div class="card-body-content" style="display: flex; gap: 50px; margin-top: -50vh;">
    <div class="card" style="width: 16rem; background-color: rgb(81, 151, 81); margin-top: -4vh;">
        <div class="card-body">
            <p class="card-text">Turn chaos into clarity—prioritize, track, and accomplish tasks with ease</p>
          
    <img src="{% static 'images/Screenshot 2025-02-10 234205.png' %}" class="card-img-bottom" alt="...">
</div></div>
    <div class="card" style="width: 16rem; background-color: rgb(81, 151, 81); margin-top: -4vh;">
        <div class="card-body">
            <p class="card-text">Break down big tasks, track progress, and complete every step with confidence</p>
          
    <img src="{% static 'images/Screenshot 2025-02-11 001928.png'%}" class="card-img-bottom" alt="..." style="height: 15vh;">
</div>
  </div>
  <div class="card" style="width: 16rem; background-color: rgb(81, 151, 81); margin-top: -4vh;">
    <div class="card-body">
        <p class="card-text">Stay ahead of deadlines—organize tasks, set priorities and check off milestones</p>
    
<img src="{% static 'images/Screenshot 2025-02-11 002136.png' %}" class="card-img-bottom" alt="..." style="height: 13vh;">
</div>
</div>
  </div>
  </div>
</div>
<div class="wrapper" style="padding-top: 30vh;">
    <div class="content">
        <div class="section">
            <p class="highlight">Free Your Mind</p>
            <h1>Turn ideas into action effortlessly.</h1>
            <h5 style="color: gray;">
                For years, we’ve perfected a tool that works the way you think. 
                Quickly capture, organize, and track tasks using intuitive, natural language.
            </h5>
        </div>
        
        <div class="section">
            <p class="highlight">Plan with clarity</p>
            <h1>Streamline your scheduling</h1>
            <h5 style="color: gray;">
                Take control of your time—set deadlines, view your week at a glance, and automate recurring tasks effortlessly.
            </h5>
        </div>
        
        <div class="section">
            <p class="highlight">Collaborate seamlessly with your team</p>
            <h1>A dedicated hub for team tasks</h1>
            <h5 style="color: gray;">
                Keep your team aligned with a shared workspace—work together efficiently while keeping personal tasks and projects separate.
            </h5>
        </div>
        <div class="section">
            <p class="highlight">Work together effortlessly</p>
            <h1>A unified space for team projects</h1>
            <h5 style="color: gray;">
                Collaborate seamlessly with your team, keeping group tasks organized while maintaining personal workflow clarity.

            </h5>
        </div>
    </div>
    
    <div class="fixed-video" style="padding-top: 10vh;">
        <video controls>
            <source src="{% static 'videos/Recording 2025-02-11 015215.mp4'%}" type="video/mp4">
        </video>
    </div>
</div>
  <!-- </div> -->
<div>
    <img src="{% static  'images/Screenshot_2025-02-12_125957-removebg-preview.png'%}" style="padding-left: 100vh; height: 200px; padding-top: 10vh;">
</div>

    <div>
        <div>
            <iframe height="600" width="1000" style="margin-left: 35vh; border-radius: 20vh; border: 5px solid rgb(81, 151, 81);" 
                src="https://www.youtube.com/embed/fI-iTYAwL6c" 
                
                frameborder="0" allowfullscreen>
            </iframe>
        </div>
        </div>
        <h2 style="padding-top: 18vh; text-align: center;">Kickstart your next project with TackChronicle Templates</h2>
        <h4 style="padding: 4vh; padding-left: 20vh; padding-right: 20vh; text-align: center;">Skip the hassle of starting from scratch! Choose from 50+ ready-made templates and customize them effortlessly to fit your needs.</h4>
        
        <div class="card-body-content" style="display: flex; gap: 50px; margin-top: 10vh; margin-left: 10px; ">
            <div class="card" style="width: 16rem; background-color: rgb(217, 243, 245); margin-top: -4vh; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); cursor: pointer; position: relative; height: 40vh;" onclick="toggleText(this)">
                <img src="{% static  'images/Screenshot 2025-02-14 003036.png'%}" class="card-img-top" alt="..." style="height: 17vh;">
                <div class="card-body" style="background-color: rgb(234, 241, 242); height: 100px;">
                    <h2 class="card-text" style="font-weight: 600;">Accounting Task</h2>
                    <p class="card-text" style="color: rgb(71, 70, 70); font-weight: 300;">Create a system to keeps your books, receipts, and invoices organized.</p>
                    
                  
            </div>
            <div id="extraBox" class="extra-box">
                <p>If you run a business, staying organized with receipts, taxes, and invoices is essential. Use this template to track accounting tasks year-round. Whether working with an accountant or managing finances yourself, set deadlines and reminders to keep your books in order. </p>

                <p>Tip: Add recurring tasks like “Tax Deadline – April 15” with early reminders to stay ahead.</p>
            </div>
          </div>
          <div class="card" style="width: 16rem; background-color: rgb(217, 243, 245); margin-top: -4vh; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); cursor: pointer; position: relative;  height: 40vh" onclick="toggleText(this)">
            <img src="{% static 'images/Screenshot 2025-02-14 003712.png'%}" class="card-img-top" alt="..." style="height: 17vh;">
            <div class="card-body" style="background-color: rgb(234, 241, 242); height: 100px;">
                <h2 class="card-text" style="font-weight: 600;">Deep Work</h2>
                <p class="card-text" style="color: rgb(71, 70, 70); font-weight: 300; font-size: 16px;">Enhance focus and productivity by prioritizing tasks and eliminating distractions with this template.</p>
                
              
        </div>
        <div id="extraBox" class="extra-box">
            <p>Do you ever feel busy but unproductive? Shallow work drains focus, while deep work drives real progress. Inspired by Cal Newport’s Deep Work, this template helps you prioritize focus, eliminate distractions, and accomplish meaningful tasks.</p>
        </div>
      </div>
      <div class="card" style="width: 16rem; background-color: rgb(217, 243, 245); margin-top: -4vh; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); cursor: pointer; position: relative;  height: 40vh;" onclick="toggleText(this)">
        <img src="{% static  'images/Screenshot 2025-02-14 003641.png' %}" class="card-img-top" alt="..." style="height: 17vh;">
        <div class="card-body" style="background-color: rgb(234, 241, 242); height: 100px;">
            <h2 class="card-text" style="font-weight: 600;">Client Management</h2>
            <p class="card-text" style="color: rgb(71, 70, 70); font-weight: 300; font-size: 18px;">Efficiently track and manage client details, from small tasks to major projects.</p>
            
          
    </div>
    <div id="extraBox" class="extra-box">
        <p>Make a strong first impression by understanding your client’s goals, concerns, and expectations. Use this template to track key details, set up a project plan, and ensure smooth communication. Whether you're a freelancer or account manager, stay organized with client files, tasks, and updates. </p>

        <p>Tip: Attach important files and links for easy access during discussions.</p>
    </div>
  </div>
  <div class="card" style="width: 16rem; background-color: rgb(217, 243, 245); margin-top: -4vh; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); cursor: pointer; position: relative;  height: 40vh;" onclick="toggleText(this)">
    <img src="{% static 'images/Screenshot 2025-02-14 003606.png'%}" class="card-img-top" alt="..." style="height: 17vh;">
    <div class="card-body" style="background-color: rgb(234, 241, 242); height: 10vh; ">
        <h2 class="card-text" style="font-weight: 600;">Business Travel Packing</h2>
        <p class="card-text" style="color: rgb(71, 70, 70); font-weight: 300; font-size: 18px;">Always pick your essentials—laptop charger, key documents, and lucky shoes.</p>
        
      
</div>
<div id="extraBox" class="extra-box">
    <p>Packing for a business trip can be challenging, from travel documents to tech essentials and outfits. Use this template to create a checklist and ensure you never forget key items like your laptop charger, passport, or lucky shoes. Stay organized and travel stress-free!</p>
</div>
</div>
<div class="card" style="width: 16rem; background-color: rgb(217, 243, 245); margin-top: -4vh; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); cursor: pointer; position: relative;  height: 40vh;" onclick="toggleText(this)">
    <img src="{% static 'images/Screenshot 2025-02-14 003749.png' %}" class="card-img-top" alt="..." style="height: 17vh;">
    <div class="card-body" style="background-color: rgb(234, 241, 242); height: 100px;">
        <h2 class="card-text" style="font-weight: 600;">Meeting Agenda</h2>
        <p class="card-text" style="color: rgb(71, 70, 70); font-weight: 300; font-size: 18px;">Keep meetings efficient and action-oriented with a clear plan and focused discussions.</p>
        
      
</div>
<div id="extraBox" class="extra-box">
    <p>Make meetings more productive by ensuring they’re necessary and well-structured. Use this template to set a clear agenda, assign tasks, and keep discussions on track. Before the meeting: Share the agenda, assign topics, and set time limits.</p>
        <p> After the meeting: Assign action items with deadlines to ensure follow-through.</p>
</div>
</div>

          
</div>
        <div class="wrapper-new">
        <div class="content-new" >
        <p class="highlight">Enhance your Activities</p>
            <h1>Turn ideas into action effortlessly.</h1>
            <h5 style="color: gray;">
                For years, we’ve perfected a tool that works the way you think. 
                Quickly capture, organize, and track tasks using intuitive, natural language.
            </h5>
            </div>
            
            <div class="image-gallery">
                <div class="slider">
                <img src="{% static 'images/Screenshot 2025-02-13 020757.png'%}" class="animated-slide" style="border-radius:3vh ;">
                <img src="{% static 'images/Screenshot 2025-02-13 020605.png'%}" class="animated-slide" style="border-radius:3vh ;">
                <img src="{% static  'images/Screenshot 2025-02-13 020518.png'%}" class="animated-slide" style="border-radius:3vh ;">
                <img src="{% static 'images/Screenshot 2025-02-13 020441.png'%}" class="animated-slide"
                style="border-radius:3vh ;">
            </div>
            </div>
            </div>
            
            

    </main>
    <footer>
        <div style="background-color: rgb(70, 169, 70);">
        <div style="text-align: center; margin-top: 20vh; height: 150px; background-color: rgb(70, 169, 70);">
            <h4 style="margin-left: 20vh; margin-right: 20vh; padding-top: 10vh;">Gain calmness and clarity with the world’s most beloved productivity app
                </h4>
                <p>© 2024 PeakPlanner | Plan & Conquer</p>
               
                
        </div>
        
</div>        
    
    </footer>
    
    
    <script>document.addEventListener("DOMContentLoaded", function () {
        const slider = document.querySelector(".slider");
        const images = document.querySelectorAll(".animated-slide");
    
        let index = 0;
    
        function moveSlider() {
            index++;
            if (index >= images.length) {
                index = 0;
            }
            slider.style.transform = `translateX(-${index * 100}%)`;
        }
    
        setInterval(moveSlider, 2000); 
    });
    function toggleText(card) {
    var extraBox = card.querySelector(".extra-box"); // Select only the clicked card's box
    
    // Hide all extra-box elements first
    document.querySelectorAll(".extra-box").forEach(box => {
        if (box !== extraBox) {
            box.style.display = "none";
        }
    });

    // Toggle the selected card's extra box
    if (extraBox.style.display === "none" || extraBox.style.display === "") {
        extraBox.style.display = "block";
    } else {
        extraBox.style.display = "none";
    }
}


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>
</html>